@{
    Layout = "_Layout";
}

<div id="body">
    <div class="contents">
        <!-- start of content -->
        <div class="blogs">
            <div>
                <h1>Members News</h1>

                <h2>Bellow are a few of the latest posts from some of our Members</h2>
            <!-- start of blog list -->
                <div class="blog-posts">
                    TODO: BLOG POSTS TO GO HERE
                </div>
            <!-- end of blog list -->
            </div>
        </div>
    </div> <!-- end of contents -->
</div>  <!-- end of body wrapper -->
